.dayContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
    text-align: center;
}

.dayText {
    color: white;
    font-size: 2vh;
    text-shadow: .5vh .5vh .5vh rgba(0, 0, 0, 0.5);
}

.dayText p {
    margin: 0;
}

.predictionDay img {
    height: 5vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.dayTempMax {
    font-weight: normal;
}

.dayTempMin {
    font-weight: lighter;
}
