
html, body {
    background-color: #35343F;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Archivo Narrow', sans-serif;
}

h4 {
    margin: 0;
}

#app {
    width: 80%;
    min-width: 800px;
    margin-right: auto;
    margin-left: auto;
}