.weatherContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    width: 100vh;
}

.text {
    font-size: 1.9vh;
    font-family: 'Oswald', sans-serif;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.weatherElements {
    height: 17vh;
}
