#header {
    color: whitesmoke;
    margin-top: 5vh;
}

#timeContainer {
    display: inline-block;
    width: 40%;
}

.time {
    font-size: 5vh;
    margin-bottom: 1vh;
    font-weight: normal;
}

.date {
    font-size: 5vh;
    font-weight: lighter;
}
